<div data-target="chat.message" data-user="<%= message.user.id %>" data-id="<%= message.id %>" class="px-4 py-2 mt-4 bg-white rounded w-1/3">
  <div class="flex items-end">
    <% if message.user.avatar.attached? %>
      <%= image_tag message.user.avatar, class: 'h-8 w-8 rounded-full' %>
    <% else %>
      <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" />
    <% end %>
    <h5 class="ml-2 text-gray-600"><%= message.user.username %></h5>
  </div>
  <div class="mt-2 flex flex-col">
    <span>
      <%= message.body %>
    </span>
    <span class="text-xs text-gray-600">
      <%= l(message.created_at, format: '%k:%M, %d %B, %Y') %>
    </span>
    <%= render 'messages/karma', message: message %>
  </div>
</div>
