<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full">
    <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
      <%= t("register.header") %>
    </h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "mt-8" }) do |f| %>
      <div class="rounded-md shadow-sm">
        <div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", :required => true, class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5", :placeholder => t("register.email"), 'aria-label' => t("register.email") %>
        </div>
        <div class="-mt-px">
          <%= f.password_field :password, autocomplete: "new-password", :required => true, class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5", :placeholder => "#{t("register.password")}#{@minimum_password_length ? " (#{t("register.minimum")} #{@minimum_password_length})" : ""}", 'aria-label' => t("register.password") %>
        </div>
        <div class="-mt-px">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", :required => true, class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5", :placeholder => t("register.confirmation"), 'aria-label' => t("register.confirmation") %>
        </div>
        <div class="mt-6">
          <%= f.submit t("register.submit"), class: "group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out" %>
        </div>
      <% end %>
    </div>
  </div>
