<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full">
    <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
      <%= t("login.header") %>
    </h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "mt-8"}) do |f| %>
      <div class="rounded-md shadow-sm">
        <div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", :required => true, class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5", :placeholder => t("login.email"), 'aria-label' => t("login.email") %>
        </div>
        <div class="-mt-px">
          <%= f.password_field :password, autocomplete: "current-password", :required => true, class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5", :placeholder => t("login.password"), 'aria-label' => t("login.password") %>
        </div>

        <div class="mt-6 flex items-center justify-between">
          <% if devise_mapping.rememberable? %>
            <div class="flex items-center">
              <%= f.check_box :remember_me, class: "form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out" %>
              <%= f.label :remember_me, t("login.remember"), :class => "ml-2 block text-sm leading-5 text-gray-900" %>
            </div>
          <% end %>

          <% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <div class="text-sm leading-5">
              <%= link_to t("login.forgot"), new_password_path(resource_name), class: "font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:underline transition ease-in-out duration-150" %>
            </div>
          <% end %>
        </div>

        <div class="mt-6">
          <%= f.submit t("login.submit"), class: "group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
