<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>

<p class="uppercase font-bold text-indigo-600 tracking-widest"><%= @room.name %></p>

<div class="container mx-auto">

  <div data-controller="chat" data-chat-room="<%= @room.id %>">

    <div class="p-4 rounded bg-gray-400 overflow-y-scroll h-160 flex flex-col" data-behavior="messages" data-target="chat.container">
      <%= render 'messages/list', messages: @messages, room_user: @room_user %>
    </div>

    <%= form_with(model: [@room, Message.new], data: { target: 'chat.form' }) do |form| %>
      <%= form.text_area :body, rows: 1, autofocus: true, 'data-target': 'chat.input', class: "mt-4 px-4 py-2 w-full rounded" %>
    <% end %>

  </div>
</div>
