<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<div data-behavior="messages" data-room-id="<%= @room.id %>">
  <% @messages.each do |message| %>
    <%= render 'messages/message', message: message %>
  <% end %>
</div>

<div data-controller="message">
<%= form_with(model: [@room, Message.new], data: { target: 'message.form' }, remote: true) do |form| %>
  <%= form.text_area :body, rows: 1, autofocus: true, 'data-target': 'message.input' %>
<% end %>
</div>