<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>

<p class="uppercase font-bold text-indigo-600 tracking-widest"><%= @room.name %></p>

<div data-controller="chat" data-chat-room="<%= @room.id %>" data-chat-last="<%= @last_id %>" data-chat-more="<%= @has_more %>" >

  <div data-behavior="messages">
    <%= render 'messages/list', messages: @message, room_user: @room_user %>
  </div>

  <%= form_with(model: [@room, Message.new], data: { target: 'chat.form' }) do |form| %>
    <%= form.text_area :body, rows: 1, autofocus: true, 'data-target': 'chat.input' %>
  <% end %>

</div>
