<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<div data-controller="chat" data-chat-room="<%= @room.id %>">
  <% unread_messages = false %>

  <div data-behavior="messages">
    <% @messages.each do |message| %>
      <% if !unread_messages && @room_user.last_read_at && @room_user.last_read_at < message.created_at %>
        <% unread_messages = true %>
        <%= render 'messages/divider' %>
      <% end %>
      <%= render 'messages/message', message: message %>
    <% end %>
  </div>

  <%= form_with(model: [@room, Message.new], data: { target: 'chat.form' }) do |form| %>
    <%= form.text_area :body, rows: 1, autofocus: true, 'data-target': 'chat.input' %>
  <% end %>

</div>
