<div data-controller="city-selector" class="my-4 grid grid-cols-1 gap-2">
  <%= form.collection_check_boxes(:city_ids, city_options(), :id, :name) do |state| %>
    <div x-data="{ open: false }" data-target="city-selector.city" class="px-4 py-2 border rounded border-gray-400 cursor-pointer hover:bg-indigo-100">
      <span @click="open = !open" class="text-lg tracking-wider font-semibold hover:text-indigo-600">
        <%= state.text %>
      </span>
      <div x-show="open">
        <%= state.check_box(class: "main-checkbox") %>
        <span>Все</span>
        <%= form.collection_check_boxes(:city_ids, state_city_options(state.value), :id, :name) do |city| %>
          <%= city.check_box(class: "child-checkbox") %>
          <span>
            <%= city.text %>
          </span>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
